footer {
    background-color: #000;
    padding: 16px 10px;
    p {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        a {
            white-space: nowrap;
        }
        @media (max-width: 575.98px) {
            font-size: 0.8rem;
        }
    }
}