<div class="orders-list">
    <h2>Orders List</h2>
    <ul>
        <li *ngFor="let order of orders; trackBy: itemByID">
            <div class="order-item">
                <p><strong>Order ID:</strong> {{ order.OrderId }}</p>
                <p><strong>Order Date:</strong> {{ order.OrderDate }}</p>
                <p><strong>User ID:</strong> {{ order.UserId }}</p>
                <p><strong>Payment Type:</strong> {{ order.PaymentType }}</p>
                <p><strong>Products:</strong></p>
                <ul>
                    <li *ngFor="let product of order.Products">
                        <p>Product ID: {{ product.ProductId }}</p>
                        <p>Quantity: {{ product.Quantity }}</p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>  