@use '@angular/material' as mat;
@include mat.core();
@import './colors';

$custom-primary: mat.define-palette($primary-palette, 500);
$custom-warn: mat.define-palette($warn-palette, 500);
$custom-accent: mat.define-palette($accent-palette, 500);

$custom-theme: mat.define-light-theme((
 color: (
   primary: $custom-primary,
   warn: $custom-warn,
   accent: $custom-accent,
 ),
 density: 0
));

@include mat.all-component-themes($custom-theme);